{% extends 'skeleton.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
{% block content %}
    <div class="container mt-5 border" id="alta-prueba">
        {% include 'small/altaPrueba.html' with ciclistas=ciclistas %}
    </div>
    
    <div class="container mt-5 border" id="alta-clasificacion">
        {% include 'small/altaClasificacion.html' with equipos=equipos %}
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'gestionarClasificacion.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#alta-clasificacion').hide();
        });

        function mostrarAltaClasificacion() {
            event.preventDefault();
            $('#alta-prueba').hide();
            $('#alta-clasificacion').show();
        }

        function cancelarClasificacion() {
            $('#alta-clasificacion').hide();
            $('#alta-prueba').show();
        }
        
        function guardarClasificaciones() {
            event.preventDefault();
            $('#alta-clasificacion').hide();
            $('#alta-prueba').show();
            $('#clasificacion-input').val(JSON.stringify(clasificacion));
        }
    </script>
{% endblock %}